node_modules/
dist/
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
private*.key
miniprogram/private*.json
miniprogram/upload*.key
miniprogram/*.key


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
